<?xml version="1.0"?>

<launch>
  

  <node name="speedy_estimator" pkg="speedy_estimator" type="newSE" output="screen">      
      <!-- subscribe topics  -->
      <remap from="state_estimator/gps" to="/fix"/>
      <!-- <remap from="state_estimator/imu" to="/nav/filtered_imu/data"/> -->
      <remap from="state_estimator/imu" to="/imu/data"/>
      
      <remap from="state_estimator/gnss_pose" to="/gnss_pose_world"/>      
      <remap from="state_estimator/lidar_odom" to="/Odometry"/>

      <!-- publish topics-->
      <remap from="state_estimator/pose" to="/pose_estimate"/>
      <remap from="state_estimator/estimated_pose" to="/geo_pose_estimate"/>
      <remap from="state_estimator/filter" to="imu/filter"/>
      <remap from="state_estimator/bias_acc" to="bias_acc"/>
      <remap from="state_estimator/bias_gyro" to="bias_gyro"/>
      
      <remap from="state_estimator/status" to="pose_estimate/status"/>

      <param name="InitialRotationNoise" value="0.25"/>
      <param name="InitialTranslationNoise" value="0.1"/>
      <param name="InitialBiasNoiseAcc" value="2e-1"/>
      <param name="InitialBiasNoiseGyro" value="2e-2"/>
      <param name="AccelerometerSigma" value="1.0e-3"/>
      <param name="GyroSigma" value="8.73e-5"/>
      <!-- <param name="GyroSigma" value="5e-10"/> -->
      <param name="AccelBiasSigma" value="3.9e-4"/>
      <param name="GyroBiasSigma" value="4.8e-05"/>
      <param name="GPSSigma" value="0.05"/>
      <param name="gnssPoseSigma" value="0.001"/> 
      <param name="lidarOdomSigma" value="0.1"/> 
      <!-- <param name="SensorTransformX" value="0.076"/>
      <param name="SensorTransformY" value="-0.0246"/>
      <param name="SensorTransformZ" value="-0.020"/>
      <param name="SensorXAngle" value="0.0"/> -->

      <param name="SensorYAngle" value="0.0"/>
      <param name="SensorZAngle" value="0.0"/>
      <param name="CarXAngle" value="0.0"/>
      <param name="CarYAngle" value="0.0"/>
      <param name="CarZAngle" value="0.0"/>

      <param name="FixedInitialPose" value="false"/>
      <param name="initialRoll" value="0"/>
      <param name="intialPitch" value="0"/>
      <param name="initialYaw" value="0"/>

      <param name="imu_gps_x" value="0.0"/>
      <param name="imu_gps_y" value="0.0"/>
      <param name="imu_gps_z" value="0.0"/>

      <param name="lidar_roll" value="0.0"/>
      <param name="lidar_pitch" value="0.0"/>
      <param name="lidar_yaw" value="0.0"/>
      <param name="lidar_x" value="0.5"/>
      <param name="lidar_y" value="0.0"/>
      <param name="lidar_z" value="0.0"/>


      <!-- set the lat/lon/alt origin for GPS UTM to local frame transform -->
      <param name="FixedOrigin" value="true"/>
      <!-- currently using approximate marietta location -->
      <!--<param name="latOrigin" value="33.7744980893"/>-->
      <!--<param name="lonOrigin" value="-84.4050941205"/>-->
      <!--<param name="altOrigin" value="277.752"/>-->
      <!-- currently using approximate ccrf location -->    


      <!-- UNIST MAP  -->
      <!-- <param name="latOrigin" value="35.57083743"/> 
      <param name="lonOrigin" value="129.188112768"/>  
      <param name="altOrigin" value="55.494"/>  -->

      <!-- KIAPI MAP  -->
      <param name="latOrigin" value="35.6470671983"/> 
      <param name="lonOrigin" value="128.401913578"/>  
      <param name="altOrigin" value="25.797"/> 

         

      <param name="utm_x_origin" value="445856.46"/> 
      <param name="utm_y_origin" value="3944968.87"/>  
      <param name="utm_z_origin" value="26.126000"/> 



      
      <!-- flag for whether to use the lidar odometry messages -->
      <param name="UseOdom" value="true"/>

      <param name="UseLocalPose" value="false"/>

      <!-- if a GPS measurement is more than this threshold from the expected reading given
           the previous estimate, it will be disgarded (in meters) -->
      <param name="MaxGPSError" value="20"/>
      <param name="maxLocalPoseError" value="20"/>

      
      <param name="optimizer_real_time" value="false"/>
      <param name="optimizer_hz" value="5.0"/><!-- Only when running isam optimizer not in real time -->
      

  </node>
</launch>
