<?xml version="1.0"?>

<launch>


  <node name="map_loader" pkg="map_loader" type="map_loader" output="screen"> 

      <!-- mapver 0 gnss 123 -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_gnss_2_lane.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_gnss_123_lane_0621_local_path_center_zero.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_gnss_2_lane_0624_local_path.osm"/>   -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_gnss_123_lane_0709.osm"/>  -->
      <!-- <param name="j_osm_file_name" value="$(find map_loader)/maps/gnss_123_joker_KR_added.osm"/> 
      <param name="osm_file_name" value="$(find map_loader)/maps/gnss_123_lane_KR_added.osm"/> 
      <param name="map_ver" value="0"/>  -->

      <!-- gnss origin -->
      <!-- <param name="map_origin_lat" value="35.6475476"/> 
      <param name="map_origin_lon" value="128.4026479"/>  
      <param name="map_origin_att" value="48.827"/>  -->
      
      <!-- new origin -->
      <!-- <param name="map_origin_lat" value="35.6550026"/> 
      <param name="map_origin_lon" value="128.394116"/>  
      <param name="map_origin_att" value="48.944"/> -->

      
      <!-- mapver 1 -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_3_lane.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_2_lane_0624_local_path.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_23_lane_0625_local_path.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_23_lane_0625_local_path_bank.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_123_lane_0709.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_123_lane_0710_ele_joker_polygon.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/KIAPI_lidar_123_lane_0710_safe_path_edited.osm"/>  -->
      
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/lidar_123_lane_smooth.osm"/> 

      <param name="j_osm_file_name" value="$(find map_loader)/maps/lidar_123_joker_smooth.osm"/>  -->

      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/lidar_123_lane_KR_added.osm"/> 

      <param name="j_osm_file_name" value="$(find map_loader)/maps/lidar_123_joker_KR_added.osm"/>


      <param name="map_ver" value="1"/> 
      <param name="map_origin_lat" value="35.6476476"/> 
      <param name="map_origin_lon" value="128.4026271"/>  
      <param name="map_origin_att" value="48.168"/>  -->



      <!-- mapver 2 KIAPI 123 rotated lidar -->

      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/lidar_123_lane_KR_added_rotated_mgrs_added.osm"/>  -->

      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/Connected_opt_test_rotated.osm"/>  -->

      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/connected_output_rotated.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/lidar_123_lane_KR_added_rotated_mgrs_added.osm"/> 
      <param name="j_osm_file_name" value="$(find map_loader)/maps/lidar_123_joker_KR_added_rotated_mgrs_added.osm"/>  -->





      <!-- < 0828 new KIAPI lidar-gnss combinded map> -->

      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/Connected_optimal_path_0828.osm"/> 
      <param name="osm_file_name" value="$(find map_loader)/maps/Lidar_lane_0828.osm"/> 
      <param name="j_osm_file_name" value="$(find map_loader)/maps/Lidar_joker_0828.osm"/>  -->


      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/Connected_optimal_path_0828.osm"/> 
      <param name="osm_file_name" value="$(find map_loader)/maps/Gnss_lane_0828.osm"/> 
      <param name="j_osm_file_name" value="$(find map_loader)/maps/Gnss_joker_0828.osm"/>  -->

      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/0927_hb_opt.osm"/>  -->
      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/1002_manual_opt_v1.osm"/>  -->
      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/hb_odom_based_1003.osm"/>  -->
      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/1005_kt_opt_v1.osm"/>  -->

      
      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/1019_Opt_Final.osm"/>  -->
            <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/1020_OPT_Emergency_fixed.osm"/>  -->
            <param name="optimal_osm_file_name" value="$(find map_loader)/maps/Connected_1020_OPT_KR_Emergency_fix.osm"/>  

      <!-- <param name="optimal_osm_file_name" value="$(find map_loader)/maps/Connected_1016_opt_fixed_smoothed.osm"/>  -->
      <!-- <param name="osm_file_name" value="$(find map_loader)/maps/1015_Lidar_lane_bank_merged.osm"/>  -->
      <param name="osm_file_name" value="$(find map_loader)/maps/1019_Lidar_lane_Final.osm"/> 
      <param name="j_osm_file_name" value="$(find map_loader)/maps/1019_Lidar_joker_Final.osm"/> 



      <param name="map_ver" value="2"/>

      <!-- new origin -->
      <param name="map_origin_lat" value="35.6550026"/> 
      <param name="map_origin_lon" value="128.394116"/>  
      <param name="map_origin_att" value="48.944"/>  


      <!-- gnss  origin -->
      <!-- <param name="map_origin_lat" value="35.6475476"/> 
      <param name="map_origin_lon" value="128.4026479"/>  
      <param name="map_origin_att" value="48.827"/>  -->

      <!-- lidar origin -->
      <!-- <param name="map_origin_lat" value="35.6476476"/> 
      <param name="map_origin_lon" value="128.4026271"/>  
      <param name="map_origin_att" value="48.168"/>  -->


      <!-- KIAPI  lane -->
      <!-- <param name="map_origin_lat" value="35.5709906"/> 
      <param name="map_origin_lon" value="129.1873465"/>  
      <param name="map_origin_att" value="84.344306944"/> -->

      <!-- KIAPI gnss 123 lane -->
      <!-- <param name="map_origin_lat" value="35.6475476"/> 
      <param name="map_origin_lon" value="128.4026479"/>  
      <param name="map_origin_att" value="48.827"/>  -->

      <!-- KIAPI lidar 3rd lane-->
      <!-- <param name="map_origin_lat" value="35.6476476"/> 
      <param name="map_origin_lon" value="128.4026271"/>  
      <param name="map_origin_att" value="48.168"/>  -->

      <!-- <param name="map_origin_lat" value="0.0"/> 
      <param name="map_origin_lon" value="0.0"/>        
      <param name="map_origin_att" value="0.0"/>  -->

      <param name="test_direction" value="1.0"/> 
      <param name="visualize_path" value="True"/> 
      <param name="map_fix" value="False"/> 
      <param name="map_road_resolution" value="1.0"/> 
      <!-- <param name="local_path_length" value="30.0"/>  -->
      <!-- <param name="weight_decay_rate" value="0.9975"/>  -->
      <param name="weight_decay_rate" value="0.99"/> 
      <param name="continuious_global_replan" value="True"/> 

      <param name="local_path_scale" value="1.0"/> 
      <param name="min_local_path_length" value="25.0"/> 
      <param name="max_local_path_length" value="45.0"/> 


      <param name="lane_change_in_sec" value="5.0"/> 
      <param name="lanechange_fsm_period" value="0.1"/> 
      
  </node>
</launch>
