<?xml version="1.0"?>
<launch>
  <node name="socketcan_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node" output="screen">      
        <!-- <remap from="AA" to="BB"/> -->
        <remap from="/received_messages" to="/a_can_l2h"/>
        <remap from="/sent_messages" to="/a_can_h2l"/>
        
  </node>
</launch>

                                                                          

                                                                               