<?xml version="1.0"?>

<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_ins" args="0 0 0.5 0 0 0 1 base_link ins 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar" args="0 0 2.3 0 0 0 1 base_link lidar 10" />

  <node name="local_to_world" pkg="local_to_world" type="local_to_world" output="screen">      
        <!-- <remap from="AA" to="BB"/> -->
      <remap from="/local_to_world/gps" to="/carla/ego_vehicle/gnss/gnss1/fix"/>
      <remap from="/local_to_world/pose" to="/current_pose"/>

<!-- to run icp, let's put some value greater than 5~ -->
      <param name="num_of_gpsPose_for_icp" value="10"/>
      
  <!-- in metre -->
      <param name="gnss_skip_distance" value="3"/> 

      <param name="latOrigin" value="0.0"/>
      <param name="lonOrigin" value="0.0"/>
      <param name="altOrigin" value="0.0"/>
      
      <param name="record_transform" value="false"/>      
      <param name="file_name" value="/home/hojin/ADplatform/state_est/src/AD_estimator/local_to_world/cfg/carla_test_v1.csv"/>
      
      <param name="local_sensor_frame" value="lidar"/>
      <param name="global_sensor_frame" value="ins"/>
    
  </node>
</launch>
