<launch>
<!-- Launch file for ouster OS2-64 LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fast_lio_localization)/config/ouster64.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.8" />
    <param name="filter_size_map" type="double" value="0.8" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <param name="pcd_save_enable" type="bool" value="0" />
    <!-- <node pkg="fast_lio_localization" type="fastlio_mapping" name="laserMapping" output="screen" /> -->

    <arg name="map" default="/home/mars_ugv/catkin_ws/shuttle_center_c.pcd" />

    <!-- loalization-->
    <!-- <node pkg="fast_lio_localization" type="global_localization_shuttle_z.py" name="global_localization" output="screen" /> -->
    <node pkg="fast_lio_localization" type="global_localization_shuttle_z_loop.py" name="global_localization" output="screen" />

    <!-- transform  fusion-->
    <node pkg="fast_lio_localization" type="transform_fusion.py" name="transform_fusion" output="screen" />
    
    <node pkg="fast_lio_localization" type="transform_fusion_lidar_ekf.py" name="transform_fusion_ekf" output="screen" />


    <!-- glbal map-->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publishe" output="screen"
          args="$(arg map) 5 _frame_id:=map cloud_pcd:=/map" />


    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_fast" args="-d $(find fast_lio_localization)/rviz_cfg/localization.rviz" >
            <remap from="/move_base_simple/goal"  to="/stop" />
        </node>
            
    </group>

</launch>
