<?xml version="1.0"?>
<launch>
  <!-- <include file="$(find pid)/launch/servo_sim.launch"/> -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 1 gnss_link imu_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar" args="0 0 2.3 0 0 0 1 base_link lidar_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_gnss" args="-0.2 0 2.2 0 0 0 1 base_link gnss_link 1000" />
  <node pkg="tf" type="static_transform_publisher" name="tmp_map_to_gnss" args="0.0 0 0.0 0 0 0 1 map gnss_link 100" />


  <node name="vehicle_bridge" pkg="vehicle_bridge" type="vehicle_bridge" output="screen">      
        <!-- <remap from="AA" to="BB"/> -->
  </node>
  
</launch>
