<?xml version="1.0"?>

<launch>


  <node name="path_recorder" pkg="path_recorder" type="path_recorder" output="screen">      
        
      <!-- <remap from="/fix" to="/carla/ego_vehicle/gnss/gnss1/fix"/> -->
      <!-- <remap from="/current_pose" to="/gnss_pose_world"/> -->
      <remap from="/current_pose" to="/pose_estimate"/>
      
       <!-- options :  true = gnss , false = local_pose,   -->
      <param name="path_record_with_gnss" value="false"/> 
      <!-- when local_pose is selected,  origin_lat, origin_lon, origin_att =>> x, y, z  -->
      <param name="map_origin_lat" value="35.6470671983"/> 
      <param name="map_origin_lon" value="128.401913578"/>  
      <param name="map_origin_att" value="25.797"/>  

       <!-- <param name="map_origin_lat" value="35.64698633754966"/> 
      <param name="map_origin_lon" value="128.40112675332395"/>  
      <param name="map_origin_att" value="25.797"/>  -->
      
      
      <!-- UNIST MAP
      <param name="map_origin_lat" value="35.57083743"/> 
      <param name="map_origin_lon" value="129.188112768"/>  
      <param name="map_origin_att" value="55.494"/>  -->

      <param name="road_length_half" value="1.7"/> 

      
      

      <!-- <param name="osm_file_name" value="$(find path_recorder)/maps/unist_outv1.osm"/>  -->
      <param name="osm_file_name" value="$(find path_recorder)/maps/ctrl_test.osm"/> 
      <param name="visualize_path" value="True"/> 
      <param name="line_resolution" value="150.0"/> 
      <param name="point_resolution" value="5.0"/> 

      

      
  </node>


  
</launch>
