<launch>
  <include file='$(find points_preprocessor)/launch/compare_map_filter.launch'>
    <arg name="input_point_topic" value="/points_no_ground" />
    <arg name="input_map_topic" value="/points_map" />
    <arg name="output_match_topic" value="/points_without_dyna" />
    <arg name="output_unmatch_topic" value="/points_without_map" />
    <arg name="distance_threshold" value="0.3" />
    <arg name="min_clipping_height" value="-2.0" />
    <arg name="max_clipping_height" value="0.5" />
  </include>

</launch>
