<launch>

  <node name="front_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1920" />  
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="front" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="back_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1920" />  
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="back" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="right_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video3" />
    <param name="image_width" value="1920" />  
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="right" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="left_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="1920" />  
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="framerate" value="30"/>
    <param name="camera_frame_id" value="left" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
